name: Helm Charts

on: [push]

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Fetch history
        run: git fetch --prune --unshallow
      - name: Run chart-testing (lint)
        uses: helm/chart-testing-action@v2.8.0
        with:
          command: lint
          config: ci/ct.yaml
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        config: [default, test-config1, test-config2] # TODO: re-enable amqp config test: test-config3
    steps:
      - uses: actions/checkout@v6
      - uses: azure/setup-helm@v4
      - uses: helm/kind-action@v1
      - name: generate
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm dependency build polyaxon
          helm dependency build agent
      - uses: actions/setup-python@v6
        with:
          python-version: 3.9
      - name: test
        env:
          KUBEBUILDER_CONTROLPLANE_START_TIMEOUT: 600s
        run: |
          export PATH=$HOME/.local/bin:/usr/local/bin:$PATH
          pip3 install -r ci/master-requirements.txt
          polyaxon admin deploy -f ci/${{ matrix.config }}.yml --manager-path=./polyaxon
          polyaxon admin teardown
