name: Helm Charts

on: [push]

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.1
      - name: Run chart-testing (lint)
        uses: helm/chart-testing-action@v1.0.0-rc.2
        with:
          command: lint
          config: ci/ct.yaml
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        config: [test-config1, test-config2, test-config3]

    steps:
      - uses: actions/checkout@v2.3.1
      - uses: azure/setup-helm@v1
      - uses: helm/kind-action@v1.0.0-rc.1
      - name: generate
        run: |
          helm repo add stable https://kubernetes-charts.storage.googleapis.com
          helm dependency build polyaxon
          helm dependency build agent
      - uses: actions/setup-python@v2.0.1
        with:
          python-version: 3.7
      - name: test
        env:
          KUBEBUILDER_CONTROLPLANE_START_TIMEOUT: 600s
        run: |
          export PATH=$HOME/.local/bin:/usr/local/bin:$PATH
          pip3 install -r ci/requirements.txt
          polyaxon admin deploy -f ci/${{ matrix.config }}.yml --manager-path=./polyaxon
          polyaxon admin teardown
