name: Helm Charts

on: [push]

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.1
      - name: Run chart-testing (lint)
        uses: helm/chart-testing-action@v1.0.0-rc.2
        with:
          command: lint
          config: ci/ct.yaml
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.1
      - uses: azure/setup-helm@v1
      - uses: helm/kind-action@v1.0.0-rc.1
      - uses: actions/setup-python@v2.0.1
        with:
          python-version: 3.7
      - name: test
        env:
          KUBEBUILDER_CONTROLPLANE_START_TIMEOUT: 600s
        run: |
          export PATH=$HOME/.local/bin:/usr/local/bin:$PATH
          pip3 install -e git+https://github.com/polyaxon/polyaxon.git@master#egg=polyaxon==1.1.0&subdirectory=core
          polyaxon admin deploy -f config/setup/default.yaml --manager-path=./polyaxon
